$white: #ffffff;
$black-color: #000000ff;
$background-color: #f8f8f8;
$input-border-color: #d0cfcf;
$disabled-color: #b4b4b4;
$placegolder-color: #7e7e7e;
$primary-color: #f4e041;
$secondary-color: #00bdd3;
$error-color: #cb3d40;
